@font-face {
  font-family: "Sixtyfour";
  src: url(assets/Sixtyfour-Variable.ttf);
}
:root {
  font: 1rem/1 system-ui;
  color-scheme: dark;
  --accent-color: oklch(65% 0.1 285);
  accent-color: var(--accent-color);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
:focus-visible {
    outline: 2px solid var(--accent-color)
}
html {
  font: 1rem/1 Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
    Arial, sans-serif;
  font-family: sans-serif;
  color: oklch(95% 0.15 285);
  fill: oklch(95% 0.15 285);
}
body {
  margin: 0 1rem 0 1rem;
  background-image: url(assets/background.png);
  background-size: 400px;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}
button,
input {
  color: oklch(95% 0.15 285);
}
button,
input[type="submit"] {
  font-weight: 600;
}
h1 {
  text-wrap: balance;
  color: oklch(75% 0.15 170);
  font-size: 3rem;
  text-align: center;
  font-family: "Sixtyfour";
  text-shadow: oklch(75% 0.15 170) 0 0 0.35em;
  font-variation-settings: "BLED" 22, "SCAN" -30;
}
main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  margin-block-end: 4rem;
  width: fit-content;
  margin-inline: auto;
  border-radius: 1.5rem;
  border: 1px solid oklch(35% 0.1 285);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-image: url(assets/foreground.png);
  background-position: center;
  background-color: oklch(35% 0.1 285 / 35%);
}
fieldset {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem 1rem 1rem;
  border: 1px solid oklch(45% 0.1 285);
}
#credentials {
  margin-inline: auto;
}
legend {
  font-weight: bold;
  font-size: 1.2rem;
  padding-inline: 0.5rem;
}
form {
  display: grid;
  grid-template-columns: max-content 1fr;
  margin-inline: auto;
  width: fit-content;
  gap: 0.5rem;
  align-items: center;
  & label {
    justify-self: end;
    font-weight: 600;
  }
  & input[type="submit"] {
    grid-column: span 2;
    cursor: pointer;
  }
}
input,
button {
  padding: 0.35rem;
  border-radius: 0.5em;
  border: 1px solid oklch(45% 0.1 285);
}
button {
  cursor: pointer;
}
table {
  border-collapse: collapse;
}
td,
th {
  padding: 0.5rem;
  max-width: min(40ch, 20vw);
  overflow: hidden;
  text-overflow: ellipsis;
}
td > button {
  width: 6rem;
}
tbody td:last-child:has(button) {
  padding: 0.25rem;
}
thead td[colspan] {
  padding-inline: 0;
  & button {
    padding-block: 0.5rem;
  }
}
th {
  background-color: oklch(45% 0.1 285 / 25%);
}
tbody tr:nth-child(even) td {
  background-color: oklch(45% 0.1 285 / 25%);
}
th:first-child,
tbody td:first-child {
  padding-inline-start: 1rem;
  border-radius: 0.35rem 0 0 0.35rem;
}
th:last-child,
tbody td:last-child {
  border-radius: 0 0.35rem 0.35rem 0;
}
thead button {
  width: calc(100% - 4px);
  margin-inline: 2px;
  display: block;
  padding: 0.35rem;
}
td {
  white-space: nowrap;
  &:first-child {
    padding-block: 0.15rem;
  }
  & .thumbnail {
    vertical-align: middle;
    display: inline-block;
    background-position: center;
    background-size: 5.35rem;
    background-repeat: no-repeat;
    width: 2rem;
    height: 2rem;
    border-radius: 0.25rem;
    outline: 1px solid oklch(35% 0.1 285);
    position: relative;
    overflow: hidden;
    & img {
      width: 3.6rem;
      height: 2.7rem;
      position: absolute;
      inset-block-start: -0.35rem;
      inset-inline-start: -0.8rem;
    }
  }
  figure.beeg {
    display: none;
  }
  &:hover figure.beeg {
    display: block;
    pointer-events: none;
    padding: 0;
    margin: 0;
    border-radius: .5rem;
    border: 1px solid oklch(45% 0.1 285);
    overflow: hidden;
    position: absolute;
    bottom: 100%;
    left: 50%;
    translate: -50%;
    width: 10rem;
    height: 10rem;
    box-shadow: 0 0 .5rem oklch(45% 0.1 285);
    & img {
      position: absolute;
      inset-block-start: -1.6rem;
      inset-inline-start: -3.8rem;
      width: 17.6rem;
      height: 13.2rem;
    }
  }
}
& a[href*="youtube"] {
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  color: canvastext;
  text-decoration: none;
  background-color: buttonface;
  padding: 0.35rem;
  border-radius: 0.5em;
  border: 1px solid oklch(45% 0.1 285);
  &:is(:hover, :focus-visible) {
    background-color: color-mix(
      in oklch longer hue,
      canvastext 20%,
      buttonface
    );
  }
}
dialog {
  translate: 0 -10vh;
  max-height: min(75svh, 50rem);
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid oklch(35% 0.1 285);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-image: url(assets/foreground.png);
  background-position: center;
  background-color: oklch(25% 0.05 285 / 75%);
  border-radius: 1rem;
}
youtube-search {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  & #search_form {
    width: 100%;
    min-width: 60ch;
    grid-template-columns: 1fr max-content;
    & input[type=submit] {
      width: 8rem;
      grid-column: span 1
    }
  }
  & output {
    & table {
      width: 100%;
      & td {
        white-space: nowrap;
        padding-block: 0.25rem;
        max-width: min(60ch, 50vw);
        overflow: clip;
        text-overflow: ellipsis;
        &:last-child {
          width: 9.5rem;
        }
      }
    }
    &:has(tbody:empty) {
      display: none;
    }
  }
}
table td > form > input[type="submit"] {
  width: 6rem;
}
td:has(> img, > a, > button, > form) {
  padding: 0.25rem;
}
[popover] > header {
  width: 100%;
  margin-block-end: 0.5rem;
  display: flex;
  justify-content: space-between;
  & button {
    height: 1.5rem;
    width: 1.5rem;
    padding: 0;
    cursor: pointer;
  }
}
toast-dialog dialog[open] {
  position: fixed;
  top: 2rem;
  margin-inline: auto;
  translate: 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 0.25rem;
  padding: 0.5rem 0.75rem;
  & form[method="dialog"] {
    width: fit-content;
    margin: 0;
    & input {
      padding: 0;
      border: 0;
      background: transparent;
      height: 2rem;
      width: 2rem;
      &:is(:hover, :focus-visible) {
        color: var(--accent-color);
      }
    }
  }
  & p {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    max-width: 30rem;
    line-height: 1.5;
  }
}
#tracks tbody td:first-child {
  position: relative;
  overflow: visible;
  padding: 0.25rem;
  text-align: center;
}